.ListItem{
    color: #352f44;
    font-size: 24px;
    word-break: break-all;
    
}

.btn{
    background:transparent;
    border: none;   
    float: right;
}

@media only screen 
   and (max-width : 800px){
      .ListItem{
        font-size: 16px;
         height: auto;
      }
   }

